:root {
    --dark: #1f2937;
    --light: #e5e7eb;
    --cta: #3882f6;
}

* {
    box-sizing: border-box;
    font-family: Roboto, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}





.header-section {
    background-color: var(--dark);
    padding: 1rem 7rem;

    display: flex;
    justify-content: space-between;
    align-items: center;

}

ul {
    display: flex;
    gap: 2rem;
}

li {
    color: white;
    font-size: 16px;
    list-style: none;
}

li:hover {
    opacity: 0.5;
    cursor: pointer;
}

.logo {
    color: white;
    font-size: 24px;
    font-weight: 600;
}

.hero-section {
    background-color: var(--dark);
    display: flex;
    height: 50vh;

}

.hero-info-container {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    padding-left: 7rem;


}

.hero-button {
    background-color: var(--cta);
    color: white;
    width: 40%;
    padding: 1rem 2rem;
    border-radius: 5px;
    font-size: 18px;
    border: none;
}

.hero-image-container {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.hero-section h1 {
    color: #f9faf8;
    font-size: 48px;
    line-height: 1.1em;
}

.hero-info-container p {
    color: white;
    font-size: 24px;
    line-height: 1.1em;
    font-weight: 300;

}

img {
    width: 500px;
    height: auto;

}

.info-section {
    padding: 0 7rem;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}

h2 {
    text-align: center;
    margin-bottom: 1rem;
}

.card-container {
    display: flex;
    gap: 2rem;

}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

}

.card-box {
    width: 200px;
    height: 200px;
    border: 4px solid var(--cta);
    border-radius: 15px;
}

.card p {
    text-align: center;
    font-size: 18px;
    font-weight: 300;

}

.quote-section {
    height: 50vh;
    background-color: var(--light);
    padding: 0 7rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.quote {
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    line-height: 1.1em;
}

.author {
    text-align: right;
    font-size: 18px;
    font-weight: bold;
}

.cta-section {
    height: 30vh;
    display: flex;
    padding: 0 7rem;
    justify-content: center;
    align-items: center;
}

.cta {
    background-color: var(--cta);
    padding: 2rem 3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    border-radius: 10px;
    width: 100%;
}

.cta-info h3 {
    color: white;
    font-size: 18px;
    font-weight: 400;
}

.cta-info p {
    color: white;
    font-size: 16px;
    font-weight: 300;
}

.cta-button button {
    background-color: var(--cta);
    border: 1px solid white;
    color: white;
    padding: 1rem 4rem;
    border-radius: 5px;
    font-size: 18px;
}

footer {
    background-color: var(--dark);
    padding: 2rem
}

footer p {
    color: white;
    font-size: 16px;
    font-weight: 300;
    text-align: center;
}

button:hover {
    cursor: pointer;
    opacity: 0.7;
}